<main class="main-content">
    <h2>Login Form</h2>
    <form class="form-container" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="input-group">
            <label for="username">Username</label>
            <input class="input-text" type="text" name="username" id="username" placeholder="Username">
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <input class="input-text" type="password" name="password" id="password" placeholder="Password">
        </div>

        <div>
            <input class="form-button clear-button" type="reset" value="Clear">
            <input class="form-button submit-button" type="submit" value="Log In">
        </div>
    </form>
</main>